{% extends "base.html" %}

{% block title %}
    Home
{% endblock%} 



{% block style%}
<link
rel="stylesheet"
href=" {{ url_for('static', filename='css-main/index/index-helper.css') }} "
/>
<link
rel="stylesheet"
href=" {{ url_for('static', filename='css-main/index/index.css') }} "
/>
<link
rel="stylesheet"
href=" {{ url_for('static', filename='css-main/index/index-Modal.css') }} "
/>

{% endblock%}


{% block main %}

<div class="button-add-task position-fixed end-0 bottom-0 m-4">
    <h4 class="fs-4 p-2 rounded rounded-2 text-white" id="Btn_Add-New-Task">
        Add New Task
    </h4>
</div>


<table class="table-content">
    <thead>
        <tr class="header-col">
            <th class="header-cell left-top">#</th>
            <th class="header-cell">Task Name</th>
            <th class="header-cell">Info</th>
            <th class="header-cell right-top text-center">Status</th>
        </tr>
    </thead>
        <tbody>
            <div class="body-table">
                {% if user_db %} 
                {% for each in user_db %}
                {% set line_counter = loop.index %}
                <tr class="odd">
                    <td>
                        <i class="fa-solid fa-circle-check"></i>
                        {{line_counter}}
                    </td>
                    
                    <td class="title">{{each.task_info}}</td>
                    <td>{{each.task_title}}</td>
                    <td class="last">
                        <form action="/edit" method="get">
                            <input type="hidden" name="post_id" value="{{each.id}}" />
                            <button class="btn-opr" class="edit" type="submit">
                                <i class="fa-solid fa-file-pen"></i>
                                Edit
                            </button>
                        </form>
                        
                        <form action="/delete" method="get">
                            <input type="hidden" name="post_id" value="{{each.id}}" />
                            <button class="btn-opr" class="delete" type="submit">
                                <i class="fa-solid fa-trash"></i>
                                Delete
                            </button>
                        </form>
                        
                        <form action="/done" method="post">
                            <input type="hidden" name="post_id" value="{{each.id}}" />
                  <button class="btn-opr" class="done" type="submit">
                      <i class="fa-solid fa-circle-check"></i>
                      Done
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </div>
</tbody>
</table>

{% endblock %}




<div class="Modal_alert">
    <div
    class="w-50 mx-auto alert alert-danger alert-dismissible fade show"
    role="alert"
    >
            <strong>Error</strong>
            <span id="Add_alert_text"></span>
            <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
            ></button>
        </div>
    </div>
</div>
</div>

{% endblock %}
