<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static' ,filename='img/logo.png') }}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Team-Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css-main/Forms.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css-main/MainForms.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css-main/MediaQueryForms.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css-main/alert.css') }}">
</head>
<body>
    <div class="container">
        <div class="center">
            <div class="left">
                <div class="left-form">

                    {% with message = get_flashed_messages() %} {% if message %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                     {% for msg in message %}
                      <strong>{{msg}}</strong>
                      {% endfor %}
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                    {% endif %} {% endwith %}

                {% if error %}
                <div style="background-color: red" class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{error_message}}
                </div>
                {% endif %}


                        <a class="header" href="">
                            <img src=" {{ url_for('static' ,filename='img/logo.png') }} " alt="">
                            <h1>We Team - Log in</h1>
                        </a>
                    <form class="form-inside" action="/login" method="post">
                        {{ form.hidden_tag() }} 
                        {{ form.username(placeholder="    Username",class="input-origin" )}} 
                        {{ form.password(placeholder="    Password",class="input-origin" )}}
                        
                        <div class="footer-option">
                            <div>
                                <input type="checkbox" name="checkbox" id="remember-me">
                                <label for="remember-me">
                                    <span>Remember Me</span>
                                </label>
                            </div>
                            <div>
                                <a class="forgot" href="#">Forgot Password?</a>
                            </div>
                        </div>
                        {{ form.submit() }}
                    </form>
                    <footer>
                        <div>
                            <h4>Doesn't Have An account? <a href="{{url_for('register')}}">Register</a></h4>
                        </div>                        
                    </footer>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </div>
</body>
</html>